@import '../../../_common/styles/common.scss';


.bg{
	transform-origin: 50% 50%;
	@include pos-scale(-221, -145, 0.85);
	// @include pos-scale(-150, -125, 0.5);
	// display: none;
	background-color: #003da5;
}


#banner{
	width: 320px;
	height: 50px;	
	background-color: #e5f6fc;
}

.logo{
	background-color: #003da5;
}